
body {
  margin: 0;
  line-height: normal;
}


:root {
  
  /* Fonts */
  --heading-1: Metropolis;
  --subtitle: 'Nunito Sans';
  
  /* font sizes */
  --label-label-large-size: 1rem;
  --photo-captions-size: 1.125rem;
  --body-size: 1.25rem;
  --subtitle-size: 1.375rem;
  --heading-2-size: 2rem;
  --heading-1-size: 3rem;
  
  /* Colors */
  --color-black: #000;
  
  /* Gaps */
  --gap-11xs: 0.125rem;
  --gap-5xs: 0.5rem;
  --gap-xs: 0.75rem;
  --gap-base: 1rem;
  --gap-5xl: 1.5rem;
  --gap-13xl: 2rem;
  
  /* Paddings */
  --padding-9xs: 0.25rem;
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-base: 1rem;
  --padding-5xl: 1.5rem;
  --padding-21xl: 2.5rem;
  --padding-121xl: 8.75rem;
  
  /* Border radiuses */
  --br-13xl: 32px;
  
  /* Figma Variables */
  
  /* Color Variables */
  --schemes-on-primary-p-100-white: #fff;
  --schemes-on-secondary-fixed-s-10-blue-2: #4b4b5e;
  --schemes-primary-p-40-gray-2: #4c4c58;
  --schemes-secondary-s-40-hra-blue: #201e3d;
  
}